<!--简答题-->
<div>
	<span class="title content">{{items.QuestionIndex}}.{{items.QuestionContent}}</span>
	<img ng-if="items.PictureAddress" ng-src="{{items.PictureAddress}}" class="itemimg"/>
	<button class="button button-full button-assertive inputbtn" ng-mode='isShowInput=false' ng-click="isShowInput=!isShowInput">自我评估</button>
	<div class="inputdiv" ng-show='isShowInput'>
		<span>评估分数</span>
		<input  type="text" placeholder="请填写分数" ng-mode="questionScroe" class="inputSrcoe"/>
		<button class="button button-small button-assertive">确定评估</button>
	</div>
	
</div>