<!--简答题-->
<div>
	<div class="title content" ng-bind-html="items.questionContent">
	</div>
	<div class="list content">
		<span ng-repeat="(key,item) in items.optionContent" class="item" style="white-space: normal;" ng-click="SelectAnswer($parent.$index,$index)">
			<input type="radio" name="{{items.id}}"  ng-checked='items.answerArr[$index]'/>
			<span ng-class="{'havechecked':(items.rightAnswer[$index] && (serverdata.showAnswer || serverdata.isShowAnswer))}" ng-bind-html="item"></span>
		</span>
	</div>
</div>