<!--多选答案-->
<div>
	<span class="title content">{{items.QuestionIndex}}.{{items.QuestionContent}}</span>
	<img ng-if="items.PictureAddress" ng-src="{{items.PictureAddress}}" class="itemimg" />
	<div class="list content">
		<label ng-repeat="item in items.OptionContent" class="item">
			<input   type="checkbox"  name="{{items.ID}}" ng-click="SelectAnswer($parent.$index,$index)" ng-checked='items.answer[$index]'/>
			<span ng-class="{'havechecked':(items.rightAnswer[$index] && serverdata.showAnswer)}">{{ item.value }}</span>
		</label>
	</div>
</div>