<!--
	作者：1085463652@qq.com
	时间：2016-04-24
	描述：资格考试分类
-->
<ion-view >
	<ion-header-bar align-title="center">
		<button class="button button-icon ion-ios-arrow-back" ng-click="BackView()">
		</button>
		<span class="title"> {{typeItemName}}</span>
		
	</ion-header-bar>
	<ion-content class="ioncontent">
		<ion-list>
			<ion-item ng-repeat="item in qualifications" class="typeitem">
				<a class="button button-full icon-right ion-chevron-right itemTypeMain" ng-click="Enter(item)">
					<span>{{item.name}}</span>
				</a>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
