<!--
	作者：1085463652@qq.com
	时间：2016-04-24
	描述：考试类型
-->
<ion-view >
	<ion-header-bar align-title="center" >
		<button class="button button-icon ion-ios-arrow-back" ng-click="TypeBack()" ng-show="isShowBack">
		</button>
		<span class="title"> 考试分类</span>
		
	</ion-header-bar>
	
	<ion-content class="ioncontent">
		<ion-list>
			<ion-item ng-repeat="item in testTypes" class="typeitem">
				<a class="button button-full icon-right ion-chevron-right typeitema" href="#/typeItem/{{item.id}}/{{item.name}}">
					<span class="itemMain">
						{{item.name}}
					</span>
					<span class="itemText">
						会计从业资格
					</span>
					<span class="itemText">
						价格鉴定师
					</span>
				</a>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>