.errortitle{
	display: inline-block;
	text-align: right;
	border-bottom-left-radius:0.5rem;
	border-top-left-radius: 0.5rem;
	border:solid 1px #ff6666;
}
.collecta{
	margin-left: -2px;
}
.collecttitle{
	display: inline-block;
	text-align: left;
	border-bottom-right-radius: 0.5rem;
	border-top-right-radius:0.5rem;
	margin-left: -5px;
	border:solid 1px #ff6666;
}
.yellowtitle{
	
    width: 5rem;
    background-color: #ff6666;
    color: #FFFFFF;
    line-height: 2.2rem;
}
.whitetitle{
    width: 5rem;
	color: #ff6666;
	line-height: 2.2rem;
}
.error{
}
.error .itemb{
	border-bottom: solid 1px #999999;
}
.error .itemsa{
	border-top: solid 1px #999999;
}
.error .itemMain{
	text-align: left;
	margin: 0px;
	line-height: 3rem;
	color: #333333;
    font-size: 1rem;
}
.error .errordetail{
	width: 94%;
	margin-left: 4%;
}
.error .errorcount{
	margin-left: 0.5rem;
	color: #999999;
}
.error .redo{
	display: inline-block;
    float: right;
    font-size: 0.7rem;
    margin-top: 0.6rem;
    background-color: #ff6666;
    width: 3rem;
    text-align: center;
    color: #ffffff;
    line-height: 1.5rem;
    border-radius: 2px;
}
