.library{
	
}
.library .contentoption {
	text-align: center;
}
.library .showmenu {
	-webkit-animation-name: fadeInRight;
	animation-name: fadeInRight;
	-webkit-animation-duration: 0.5s;
	animation-duration:0.5s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	
}
@keyframes fadeInRight {
	from {
		-webkit-transform: translate3d(100%, 0px, 0px);
		transform: translate3d(100%, 0px, 0px);
	}
	to {
		-webkit-transform: translate3d(0px, 0px, 0px);
		transform: translate3d(0px, 0px, 0px);
	}
}

@-webkit-keyframes fadeInRight {
	from {
		-webkit-transform: translate3d(100%, 0px, 0px);
		transform: translate3d(100%, 0px, 0px);
	}
	to {
		-webkit-transform: translate3d(0px, 0px, 0px);
		transform: translate3d(0px, 0px, 0px);
	}
}

.library .hidemenu {
	-webkit-animation-name: fadeOutRight;
	animation-name: fadeOutRight;
	-webkit-animation-duration: 0.5s;
	animation-duration:0.5s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
}
@keyframes fadeOutRight {
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
		transform: translate3d(0px, 0px, 0px);
	}
	to {
		-webkit-transform: translate3d(100%, 0px, 0px);
		transform: translate3d(100%, 0px, 0px);
	}
}

@-webkit-keyframes fadeOutRight {
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
		transform: translate3d(0px, 0px, 0px);
	}
	to {
		-webkit-transform: translate3d(100%, 0px, 0px);
		transform: translate3d(100%, 0px, 0px);
	}
}

.library .testmenu {
	position: absolute;
	top: 0px;
	z-index: 9999;
}
.library .menuitems{
	background-color: #0D3349;
	color: #FFFFFF;
}
.library .menutitle{
	background-color: #0D3349;
	border-color: #333333;
	border-left-width: 0px;
	margin: 0px;
}
.library .menucontent{
	background-color: #0D3349;
	border-color: #333333;
	padding-left: 2rem;
	border-left-width: 0px;
	margin: 0px;
}
.library .menushow{
	-webkit-transform: translate3d(0px, 0px, 0px);
	transform: translate3d(0px, 0px, 0px);
}
.library .menuhide{
	-webkit-transform: translate3d(100%, 0px, 0px);
		transform: translate3d(100%, 0px, 0px);
}
.library .row,.library .col{
	margin: 0px;
	padding: 0px;
} 
.library .title{
	text-align: center;
	line-height: 2.5rem;
}
.library .title a{
	border-bottom: solid 2px #D9D9D9;
}
.library .title .selected{
	border-color: #EF473A;
	color: #EF473A;
}
.library .testcontent {
	
}
.library .testcontent .paperitem{
	border-bottom: solid 1px #EFE5E5;
	padding-bottom: 5px;
	padding-left: 2%;
}
.library .testcontent .papername{
	display: block;
	margin-bottom: 1rem;
	margin-top: 0.5rem;
}
.library .testcontent .papernumber{
	font-size: 0.6rem;
    display: block;
    float: left;
    width: 40%;
    color: #999999;
}
.library .testcontent .papernumber .number{
	color:#EF473A
}
.library .testcontent .papertime{
	 font-size: 0.6rem;
	  color: #999999;
}
.library .testcontent .haveupdate{
	display: block;
    font-size: 0.7rem;
    text-align: center;
    background-color: #ff6666;
    border-radius: 2px;
    color: #ffffff;
    line-height: 1.5rem;
    width: 80%;
    margin: 0.6rem auto;
}
.library .testcontent .havedownload{
	display: block;
    font-size: 0.7rem;
    color: #999999;
    text-align: center;
    margin-top: 1rem;
}
.library .testcontent .havevip{
	display: block;
    font-size: 0.7rem;
    color: #EF473A;
    text-align: center;
    margin-top: 1rem;
}
.library  .menulist{
	margin-top: -43px;
	position: absolute;
	top: 0px;
	width: 50%;
	background-color: #D9D9D9;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}
.detail .row,.detail .col{
	margin: 0px;
	padding: 0px;
}
.detail{
}
.detail .title{
	border-bottom: solid 1px #D9D9D9;
	padding: 1.5rem 0px;
	padding-left: 3%;
}
.detail .title .papername{
	display: block;
    margin-bottom:1rem;
    font-size: 1.1rem;
}
.detail .title .startbtn span{
	display: block;
	width: 80%;
	margin: auto;
	background-color: #ff6666;
	border-radius: 3px;
	color: #ffffff;
	text-align: center;
	line-height: 3rem;
}
.detail .paperparma{
	padding-left: 4%;
	margin:1rem auto 0px;
	border-bottom:solid 1px #D9D9D9;
	padding-bottom: 1rem;
}
.detail .paperparma span{
	display: block;
	line-height: 2rem;
	color: #999999;
}
.detail .paperparma .number{
	color: #E42112;
	float: left;
}
.detail .introduce{
	width: 96%;
	margin:1rem auto 0px;
	border-bottom:solid 1px #D9D9D9;
	padding-bottom: 1rem;
}
.detail .introduce span{
	display: block;
	color: #999999;
	line-height: 2rem;
}
.detail .introduce .examstype{
	color:#E42112;
}
.assignment{
	line-height: 2rem;
}
.kaoshi .slider-pager{
	visibility: hidden;
}
.kaoshi .bigtitle{
	display: block;
	width: 96%;
	margin:0.5rem auto 0px;
    line-height: 1.5rem;
    font-weight: bolder;
}
.kaoshi .title{
	display: block;
	width: 96%;
	margin: 1rem auto 1rem;
}
.kaoshi .content{
}
.answercard .row,.answercard .col{
	margin: 0px;
	padding: 0px;
}
.answercard .title{
	text-align: center;
    font-size: 1.1rem;
    padding: 1rem 0px;
    border-bottom: solid 1px #D9D9D9;
}
.answercard .title .number{
	color:#E42112;
}
.answercard .content{
	width: 96%;
	margin: auto;
}
.answercard .content .itemtitle{
	display: block;
	margin: 1rem 0px 1.5rem;
}
.answercard .content .answer{
	height: 3rem;
}
.answercard .content .haveAnswer{
		display: block;
		margin: auto;
	    width: 2rem;
	    line-height: 2rem;
	    text-align: center;
	    background-color:#ff6666;
	    color: #FFFFFF;
	    border-radius: 50%;
	    font-weight: bolder;
}
.answercard .content .noAnswer{
		display: block;
		margin: auto;
	    width: 2rem;
	    line-height: 2rem;
	    text-align: center;
	    border: solid 1px #D9D9D9;
	    border-radius: 50%;
	        font-weight: bolder;
}
.answercard .content .rightAnswer{
	display: block;
		margin: auto;
	    width: 2rem;
	    line-height: 2rem;
	    text-align: center;
	    background-color:#4bb227;
	    color: #FFFFFF;
	    border-radius: 50%;
	    font-weight: bolder;
}
.answercard .content .wrongAnswer{
	display: block;
		margin: auto;
	    width: 2rem;
	    line-height: 2rem;
	    text-align: center;
	    background-color:#ff6666;
	    color: #FFFFFF;
	    border-radius: 50%;
	    font-weight: bolder;
}
.resultScode{
	
}
.resultScode .code{
	background-color: #fffae5;
	text-align: center;
}
.resultScode .resultbottom{
	border-bottom:solid 1px #e2e2e2;
	padding: 0.5rem 5%;
	font-size: 1.1rem;
}
.resultScode .rightbig{
	color: red;
	line-height: 2rem;

}
.resultScode .alerttext{
	font-size: 0.8rem;
	color: red;
}
.resultScode .resulttimetext{
	line-height: 2rem;
	font-size: 0.8rem;
}
.resultScode .totaltime{
	display: inline-block;
	float: right;
	font-size: 0.8rem;
	color: #999999;
	line-height: 2rem;
}
.resultScode .resulttime{
	color: #4bb227;
	line-height: 2.5rem;
}
.resultScode .rightrate{
	color: red;
	line-height: 2.5rem;
}
.resultScode .resuleno{
	padding-left: 10%;
	line-height: 1.5rem;
}
.resultScode  .totalno{
	display:inline-block;
	color: #999999;
	font-size: 0.8rem;
}
.resultScode  .rightno{
	display:inline-block;
	color: red;
	margin-left: 0.5rem;
	font-size: 0.8rem;
}
.resultScode  .wrongno{
	display:inline-block;
	color: #4bb227;
	margin-left: 0.5rem;
	font-size: 0.8rem;
}
.resultbtn{
	display: inline-block;
	text-align: center;
	width: 50%;
	color: #FFFFFF;
	line-height: 2rem;
	
}
.answerbtn{
	background-color: #ff6666;
}
.againbtn{
	background-color: #ff8a00;
}
/*.resultScode .resultbg{
	background-image: url("../img/ben.png");
}
.resultScode .resultbg .content{
	width: 60%;
	margin: auto;
	padding-top: 4rem;
}
.resultScode .resultbg .descript{
	display: block;
	color: #ff6000;
}
.resultScode .resultbtn{
	border-radius: 5px;
}*/
