<ion-view >
	 <ion-header-bar>
	 	<button class="button button-icon button-clear ion-ios-arrow-back button-light" ng-click="BackAccount()"></button>
	 	<span class="title">用户登录</span>
	 </ion-header-bar>
	<ion-content class="login">
		<form name="loginForm" >
			<div class="content">
				<div >
					<div class="item item-input itemaccount">
						<input type="text" name="name" ng-model="loginData.name" placeholder="请输入用户名" required>
					</div>
					<div class="item item-input itempsd">
						<input type="password" name="password" ng-model="loginData.password" placeholder="请输入密码" required>
					</div>
				</div>
				<div class="subbtn">
					<button ng-click="Login()" class="button button-full button-assertive" type="submit" ng-disabled="loginForm.name.$error.required||loginForm.password.$error.required">登录</button>
				</div>
			</div>
			<div class="goregistbtn">
				<a class="button button-full icon-right ion-ios-arrow-right" ng-click="goRegister()">还没有账号,赶紧注册</a>
			</div>
		</form>
	</ion-content>
</ion-view >