<ion-view>
	<ion-header-bar align-title="center" class="bluebg">
		<button class="button button-icon ion-ios-arrow-back whhitefont" ng-click="Back()">
		</button>
		<span class="title whhitefont"> {{serverdata.title}}</span>
		<button class="button button-clear" ng-click="ResultCard()" ng-if="serverdata.currentType!='2'" >
			<span class='assignment whhitefont'>答题卡</span>
		</button>
	</ion-header-bar>
	<ion-content class="kaoshi grayfont">
		<ion-slide-box on-slide-changed="slideHasChanged($index)">
			<ion-slide ng-repeat="items in currentpaper.questionlist" style="overflow: scroll;">
				<span ng-repeat="title in serverdata.titleContent" ng-show="serverdata.isShowTitle" class="bigtitle">
					{{title.questionContent}}
				</span>
				<choice-Question ng-if="items.questionType=='checking' || items.questionType=='singleChoice'">

				</choice-Question>
				<multiplechoice-Question ng-if="items.questionType=='multipleChoice'">

				</multiplechoice-Question>
				<case-Question ng-if="items.questionType=='subjectiveItem'">

				</case-Question>
				<div ng-show="serverdata.showAnswer || serverdata.isShowAnswer">
					<div>
						<span>
                          	  答案:{{items.answer}}
                        </span>
					</div>
					<div>
						<span>
                          	  解析:{{items.analysis}}
                        </span>
					</div>
				</div>

			</ion-slide>
		</ion-slide-box>
	</ion-content>
	<ion-footer-bar>
		<button class="button button-icon ion-ios-undo-outline" ng-click="LastTest()"></button>
		<span ng-if="!serverdata.showAnswer" class="title grayfont" ng-click="ShowAnswer()">答案解析</span>
		<span ng-if="serverdata.btnStatus==1 && serverdata.showAnswer" class="title grayfont" ng-click="Conllect(true)">收藏</span>
		<span ng-if="serverdata.btnStatus==2 && serverdata.showAnswer" class="title grayfont" ng-click="Conllect(false)">取消收藏</span>
		<button class="button button-icon ion-ios-redo-outline" ng-click="NextTest()"></button>
	</ion-footer-bar>
</ion-view>