<!--
	作者：1085463652@qq.com
	时间：2016-04-24
	描述：试卷详情
-->
<ion-view >
	<ion-header-bar align-title="center">
		<button class="button button-icon ion-ios-arrow-back" ng-click="showPop($event)">
		</button>
		<span class="title"> 试卷详情</span>
		
	</ion-header-bar>
	
	<ion-content class="detail">
		<div class="title">
			<span class="papername">2012年上半年银行资格考试《公共基础》真题及答案解析</span>
			<div class="row row-wrap">
				<a class="col col-50 startbtn" ng-click="StartExams(0)">
					<span>开始考试</span>
				</a>
				<a class="col col-50 startbtn" ng-click="StartExams(1)">
					<span>开始练习</span>
				</a>
			</div>
		</div>
		<div class="row row-wrap paperparma">
			<div class="col col-50">
				<span>所属年份:2012</span>
				<span>卷面总分:120</span>
				<span>作答:180分钟</span>
				<span><span class="number">6005</span>人做过</span>
			</div>
			<div class="col col-50">
				<span>发布时间:2014-09-12</span>
				<span>及格分数:60</span>
				<span>提供机构:网站</span>
				<span><span class="number">49</span>人评论过</span>
			</div>
		</div>
		<div class="introduce">
			<span class="examstype">题型介绍</span>
			<span>一、单选题</span>
			<span>二、多选题</span>
			<span>三、简答题</span>
		</div>
		<div class="row row-wrap">
			<a class="col col-33">
				
			</a>
			<a class="col col-33">
				
			</a>
			<a class="col col-33">
				
			</a>
		</div>
	</ion-content>
</ion-view>
