
.ioncontent{
}
.typeitem{
	margin: 0px;
	padding: 0px 2%;
	text-align:left;
	border-top-width:0px ;
	border-left-width:0px ;
	border-right-width:0px ;
}
.typeitem .typeitema{
	margin: 0px;
	padding: 0px;
}
.typeitem .row,.typeitem .col{
	margin: 0px;
	padding: 0px;
}
.typeitem .itemMain{
	display: inline-block;
	width: 30%;
	text-align: left;
	font-size: 1rem;
}
.typeitem .itemTypeMain{
	    margin: 0px;
    padding: 0px;
	text-align: left;
	font-size: 1rem;
}
.typeitem .itemText{
	display: inline-block;
	width: 30%;
	text-align: center;
	font-size: 0.6rem;
    color: #999999;
}

