.errortitle{
	display: inline-block;
	text-align: right;
	border-bottom-left-radius:0.5rem;
	border-top-left-radius: 0.5rem;
	border:solid 1px #3b66b4;
}
.collecta{
	margin-left: -2px;
}
.collecttitle{
	display: inline-block;
	text-align: left;
	border-bottom-right-radius: 0.5rem;
	border-top-right-radius:0.5rem;
	margin-left: -5px;
	border:solid 1px #3b66b4;
}
.yellowtitle{
	
    width: 5rem;
    background-color: #3b66b4;
    color: #FFFFFF;
    line-height: 2.2rem;
}
.whitetitle{
    width: 5rem;
	color: #3b66b4;
	line-height: 2.2rem;
}
.error{
}

.error .itemMain{
	text-align: left;
    margin: 0px;
    min-height: 0px;
    line-height: 2rem;
    background-color: #efefef;
   	border-bottom: solid 1px #D9D9D9;
}
.error .mainpaper{
    max-width: 80%;
    text-indent: 1rem;
}
.error .itemMain i{
	    position: absolute;
    right: 0.5rem;
    transform: scale(1.5);
    -webkit-transform:scale(1.5);
    -moz-transform:scale(1.5);
}
.error .itemDetail{
	text-align: left;
    line-height: 2rem;
   	border-bottom: solid 1px #D9D9D9;
}
.error .errorpaper{
    max-width: 74%;
    text-indent: 1rem;
}
.error .errorcount{
	margin-left: 0.5rem;
	color: #999999;
}
.error .redo{
	position: absolute;
    right: 1%;
    margin-top: 0.3rem;
    width: 3rem;
    font-size: 0.7rem;
    line-height: 1.5rem;
    background-color: #ff6666;
    text-align: center;
    color: #ffffff;
    border-radius: 2px;
}
