* {
	font-family: "微软雅黑";
	font-size: 0.8rem;
}
.textblock{
	display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}
.slider {
	height: 100%;
}

.box {
	height: 100%;
	text-align: center;
}

.nav1 {
	background: url(../img/load.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.nav2 {
	background: url(../img/load.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.nav3 {
	background: url(../img/load.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.nav4 {
	background: url(../img/load.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.login{
	background-color: #efefef;
}
.login .content{
	width: 90%;
	margin: auto;
	margin-top: 4rem;
}
.login .content .itemaccount{
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
}
.login .content .itempsd{
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}
.login .content .subbtn{
	margin-top: 1.5rem;
}
.login .goregistbtn{
	width: 90%;
    margin: 3rem auto 0px;
}
.login .confimrule{
	margin-top: 0.5rem;
}
.login .confimrule i{
	color: #ff6666;
}
.login .confimrule span{
	color: #999999;
	font-size: 0.6rem;
}

/*
 * 全局属性设置
 */
.bluebg{
	background-color: #3b66b4;
}
.whhitefont{
	color: #FFFFFF;
}
.bluefont{
	color: #3b66b4;
}
.grayfont{
	color: #666666;
}
.whhitefont:hover{
	color: #FFFFFF;
}

