<ion-view  >
	<ion-header-bar align-title="center">
		<button class="button button-icon ion-ios-arrow-back" ng-click="showPop($event)">
		</button>
		<span class="title"> 单选题</span>
		<button class="button  button-clear " ng-click="Assignment()">
			<span class='assignment'>交卷</span>
		</button>
	</ion-header-bar>
	<ion-content class="kaoshi">
		<div >
			<span class="bigtitle">
				一、单项选择题(共80题,每题0.5分;下列每小题有四个答案,只有一项符合题目要求,请选择出来...)
			</span>
			<span class="title content">{{test.title}}</span>
			<!--单选答案-->
			<div class="list content" ng-show="test.type==0">
				<!--<ion-radio ng-repeat="item in answerlist"   ng-value="item.value" ng-model="data.serverSide" ng-change="SelectAnswer(item)" name="server-side" icon-off="ion-ios-circle-outline" icon-on="ion-ios-circle-filled">
					{{ item.value }}
				 	<i class="radio-icon ion-ios-circle-filled"></i>
				</ion-radio>-->
				<label ng-repeat="item in test.answerlist" class="item answeritem">
					<input   type="radio" ng-value="item.value" name="answer" ng-model="data.serverSide" ng-change="SelectAnswer(item)"/>
					<span>{{ item.value }}</span>
				</label>
			</div>
			<!--多选答案-->
			<div class="list content" ng-show="test.type==1">
				<!--<ion-radio ng-repeat="item in answerlist"   ng-value="item.value" ng-model="data.serverSide" ng-change="SelectAnswer(item)" name="server-side" icon-off="ion-ios-circle-outline" icon-on="ion-ios-circle-filled">
					{{ item.value }}
				 	<i class="radio-icon ion-ios-circle-filled"></i>
				</ion-radio>-->
				<label ng-repeat="item in test.answerlist" class="item answeritem">
					<input   type="checkbox" ng-value="item.value" name="answer" ng-model="data.serverSide" ng-change="SelectAnswer(item)"/>
					<span>{{ item.value }}</span>
				</label>
			</div>
			<!--简答题-->
			<div class="list content" ng-show="test.type==2">
				<!--<ion-radio ng-repeat="item in answerlist"   ng-value="item.value" ng-model="data.serverSide" ng-change="SelectAnswer(item)" name="server-side" icon-off="ion-ios-circle-outline" icon-on="ion-ios-circle-filled">
					{{ item.value }}
				 	<i class="radio-icon ion-ios-circle-filled"></i>
				</ion-radio>-->
				<label ng-repeat="item in test.answerlist" class="item answeritem">
					<input   type="checkbox" ng-value="item.value" name="answer" ng-model="data.serverSide" ng-change="SelectAnswer(item)"/>
					<span>{{ item.value }}</span>
				</label>
			</div>

		</div>
		
	</ion-content>
	<ion-footer-bar>
		<button class="button button-icon ion-ios-undo-outline" ng-click="LastTest()"></button>
		<span class="title">00:00:00</span>
		<button class="button button-icon ion-ios-redo-outline" ng-click="NextTest()"></button>
	</ion-footer-bar>
</ion-view>