<ion-view view-title="公共基础">
  <ion-content class="library" scroll=false>
  	<div class="row row-wrap title">
  		<a class="col col-33" ng-class="{'selected':selectindex==0}" ng-click="ChangeType(0)">
  			<span>历年真题</span>
  		</a>
  		<a class="col col-33" ng-class="{'selected':selectindex==1}" ng-click="ChangeType(1)">
  			<span>模拟试题</span>
  		</a>
  		<a class="col col-33" ng-class="{'selected':selectindex==2}" ng-click="ChangeType(2)">
  			<span>章节练习</span>
  		</a>
  	</div>
  	<ion-scroll>
  		<div ng-show="selectindex==0" class="testcontent">
  			<div ng-repeat="paper in papers" class="row row-wrap">
  				<div class="col col-80">
  					<span class="papername">
  						{{paper.Name}}
  					</span>
  					<span class="papernumber">
  						<span class="number">
  						{{paper.Number}}
  						</span>
  						人做过
  					</span>
  					<span class="papertime">{{paper.Updatetime}}</span>
  				</div>
  				<div class="col col-20">
  					
  				</div>
  			</div>
  		</div>
  	</ion-scroll>
  </ion-content>
</ion-view>
