<ion-view >
	<ion-header-bar align-title="center">
		
		<span class="title"> 我的</span>
		
	</ion-header-bar>
  <ion-content class="account">
			<div class="item head">
				<a class="button button-full icon-right ion-chevron-right headbtn">
					<img class="headimg" ng-src="img/ben.png" alt="photo"/>
					<div>
						<span class="headname">我的黄花菜</span>
    				<span class="heademail">123456@qq.com</span>
					</div>
				</a>
				<div>
					<span>
    				<i class="ion-ios-unlocked-outline"></i><span>解锁密码</span>
    			</span>
    			<span>
    				<i class="ion-ios-unlocked-outline"></i><span>解锁软件</span>
    			</span>
				</div>
    </div>
    <div>
    	<div></div>
    	<div></div>
    	<div></div>
    	<div></div>
    	<div></div>
    	<div></div>
    </div>
  </ion-content>
</ion-view>
