<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view>
	<ion-header-bar align-title="center" class="bluebg">

		<span class="title whhitefont"> 搜索</span>

	</ion-header-bar>
	<ion-content>
		<div class="bar bar-header item-input-inset">
			<label class="item-input-wrapper">
        <i class="icon  ion-ios-search-strong placeholder-icon" ng-click="Change()"></i>
        <input type="search" placeholder="请输入关键字" ng-model="data.searchName" ng-change="Change()">
    	</label>
		</div>
		<div class="library grayfont" >
  			<div class="testcontent">
					<div ng-repeat="paper in serverdata.papers" class="row row-wrap paperitem" ng-click="GoPaperDetail(paper.PaperID)">
						<div class="col col-80">
							<span class="papername">{{paper.PaperContent}}</span>
							<span class="papernumber textblock"><span class="bluefont">{{paper.UserCount}}</span> 人做过
							</span><span class="papertime textblock"  >{{paper.UpdateTime}}</span>
						</div>
						<div class="col col-20">
							<span class="haveupdate" ng-if="paper.Status==3">有更新</span>
							<span class="havedownload" ng-if="paper.Status==2">已下载</span>
							<span class="havevip redfont" ng-if="paper.Status==1">VIP</span>
							<span class="havedownload" ng-if="paper.Status==0">免费</span>
						</div>
					</div>
				</div>
  		</div>
	</ion-content>
</ion-view>