<ion-view   >
	 <ion-header-bar>
	 	<div class="title">
	 		<a><span class="errortitle" ng-class="{'yellowtitle':isError,'whitetitle':!isError}" ng-click="ChangeShow(true)">我的错题</span></a>
	 		<a class="collecta"><span class="collecttitle" ng-class="{'yellowtitle':!isError,'whitetitle':isError}" ng-click="ChangeShow(false)">我的收藏</span></a>
	 	</div>
	 </ion-header-bar>
	<ion-content class="error">
		<div>
			<div ng-repeat="items in serverdata.paperlist" ng-if="(isError && items.listtype==0) || (!isError && items.listtype==1)" class="itemb">
				<div class="button button-full icon-right itemMain" ng-class="{'ion-ios-arrow-up':items.isShow,'ion-ios-arrow-down':!items.isShow}" ng-click="ChangeShowItem($index)" >
					<span>{{items.examTypeName}}</span>
					<span class="errorcount">{{items.errorlist.length}}</span>
				</div>
				<div ng-show="items.isShow" class="errordetail">
						<div ng-repeat="item in items.errorlist"  class="itemsa">
							<div class="itemMain">
								<span class="errorpaper">{{item.paperName}}</span>
								<span class="errorcount">{{item.count}}</span>
								<a class="redo" ng-click="TestAgain(item.paperID,items.listtype)"> 重做</a>
							</div>
						</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>