<ion-view >
	<ion-header-bar align-title="center">
		
		<span class="title"> 我的</span>
		
	</ion-header-bar>
  <ion-content class="account">
  	<div class="list head">
  			<div class="item item-icon-right">
				
				<img ng-src="img/user.png" class="item-note headimg" />
				<span>
  					<span class="headname">我的黄花菜</span>
    				<span class="heademail">123456@qq.com</span>
  				</span>
  					<span>
    				<i class="ion-ios-unlocked-outline unclockimg"></i><span class="unclockbtn">解锁密码</span>
    				</span>
    				<span class="unclockvip">
    				<i class="ion-ios-unlocked-outline unclockimg"></i><span class="unclockbtn">解锁软件</span>
    				</span>
				<i class="icon ion-ios-arrow-forward"></i>
			</div>
  	</div>
   <div class="list content">
    	<div class="item item-icon-right contentoption">
    		<a class="button button-full icon-left button-icon ion-ios-loop ">
    			<span>切换考试</span>
    		</a>
    		<i class="icon ion-ios-arrow-forward"></i>
    	</div>
    	<div class="item item-icon-right contentoption">
    		<a class="button button-full icon-left button-icon ion-ios-download-outline">
    			<span>我的下载</span>
    		</a>
    		<i class="icon ion-ios-arrow-forward"></i>
    	</div>
    	<div class="item item-icon-right contentoption">
    		<a class="button button-full icon-left button-icon ion-ios-list-outline">
    			<span>最近练习</span>
    		</a>
    		<i class="icon ion-ios-arrow-forward"></i>
    	</div>
    	<div class="item item-icon-right contentoption">
    		<a class="button button-full icon-left button-icon ion-ios-alarm-outline">
    			<span>模拟考试</span>
    		</a>
    		<i class="icon ion-ios-arrow-forward"></i>
    		</div>
    	<div class="item item-icon-right contentoption">
    		<a class="button button-full icon-left button-icon ion-ios-information-outline">
    			<span>关于</span>
    		</a>
    		<i class="icon ion-ios-arrow-forward"></i>
    	</div>
    </div>
  </ion-content>
</ion-view>
