<ion-view >
	<ion-header-bar align-title="center">
		
		<span class="title"> 考好点教育</span>
		
	</ion-header-bar>
	<ion-content class="home" scroll=false>
		<ion-slide-box class="slide-box" auto-play="true" slide-interval="5000">
			<ion-slide ng-repeat="item in slideboxes">
				<a class="slideitem">
					<img ng-src="{{item.imgsrc}}" alt="活动" />
				</a>
			</ion-slide>
		</ion-slide-box>
		<div class="row row-wrap itemtitle">
			<a class="col col-25" ng-class="{'selected':selectindex==0}" ng-click="SelectItem(0)">
				<span>全部</span>
			</a>
			<a class="col col-25" ng-class="{'selected':selectindex==1}" ng-click="SelectItem(1)">
				<span>全科</span>
			</a>
			<a class="col col-25" ng-class="{'selected':selectindex==2}" ng-click="SelectItem(2)">
				<span>单科</span>
			</a>
			<a class="col col-25" ng-class="{'selected':selectindex==3}" ng-click="SelectItem(3)">
				<span>软件vip</span>
			</a>
		</div>
		<ion-scroll id="items_Content" ng-show="selectindex!=3">
				<div  ng-repeat="item in itemlist |filter:item.type=selectindex" class="row row-wrap itemcontent" ng-if="selectindex==0 || (selectindex==1 && item.type==0) || (selectindex==2 && item.type==1)">
					<div class="col col-20">
						<img ng-src="{{item.Img}}">
					</div>
					<div class="col col-80">
						<span class="itemname" ng-bind="item.Name"></span>
						<span class="itemdescript" ng-bind="item.Descript"></span>
						<span class="itemprice">{{item.Price}}元</span>
						<a class="buytype"> 天猫购买</a>
					</div>
				</div>
		</ion-scroll>
		<div ng-show="selectindex==3" class="row row-wrap itemcontent">
			<div class="col col-20">
						<img ng-src="{{vipitem.Img}}">
					</div>
					<div class="col col-80">
						<span class="itemname" ng-bind="vipitem.Name"></span>
						<span class="itemdescript" ng-bind="vipitem.Descript"></span>
						<span class="itemprice">{{vipitem.Price}}元</span>
						<a class="buytype"> 天猫购买</a>
					</div>
		</div>
	</ion-content>
</ion-view>