<ion-view>
	<ion-content class="library" scroll=false >
		<div>
			<div>
				<a class="item  item-icon-right contentoption">
					<span>公共基础</span>
					<i class="icon ion-ios-keypad-outline" ng-click="TragetMenu()"></i>
				</a>
			</div>
			<div class="row row-wrap title">
				<a class="col col-33" ng-class="{'selected':selectindex==1}" ng-click="ChangeType(1)">
					<span>历年真题</span>
				</a>
				<a class="col col-33" ng-class="{'selected':selectindex==2}" ng-click="ChangeType(2)">
					<span>模拟试题</span>
				</a>
				<a class="col col-33" ng-class="{'selected':selectindex==3}" ng-click="ChangeType(3)">
					<span>章节练习</span>
				</a>
			</div>
			<ion-scroll id="linrary_scroll">
				<div class="testcontent">
					<a ng-repeat="paper in serverdata.paperlist track by paper.PaperID|orderBy:paper.UpdateTime" class="row row-wrap paperitem" ng-if="paper.PaperTypeID==selectindex" ng-click="GoPaperDetail()">
						<div class="col col-80">
							<span class="papername">
  						{{paper.Dec}}
  					</span>
							<span class="papernumber">
  						<span class="number">
  						{{paper.UserCount}}
  						</span> 人做过
							</span>
							<span class="papertime">{{paper.UpdateTime}}</span>
						</div>
						<div class="col col-20">
							<span class="haveupdate" ng-show="paper.IsUpdate==1">有更新</span>
							<span class="havedownload" ng-show="paper.IsUpdate==0 && paper.IsDownload=='1'">已下载</span>
							<span class="havevip" ng-show="paper.IsUpdate==0 && paper.IsDownload=='0' && paper.IsVip=='1'">VIP</span>
							<span class="havedownload" ng-show="paper.IsUpdate==0 && paper.IsDownload==0 && paper.IsVip==0">免费</span>
						</div>
					</a>
				</div>
			</ion-scroll>
		</div>
		<div id="menu_list" ng-class="{'showmenu':isShow==1,'menushow':isShow==1,'hidemenu':isShow==2,'menuhide':isShow!=1}" class="row row-wrap testmenu">
			
			<a class="col col-33" ng-click="HideMenu()"></a>
			<div class="col col-67 menuitems">
				<ion-scroll id="menu_scroll">
					<a class="item item-icon-right menutitle" >
						<span>{{currentList.name}}</span>
						<i class="icon ion-ios-list-outline" ng-click="GoExamType()"></i>
					</a>
					<a class="item menucontent" ng-repeat='qua in currentList.children track by qua.ExamTypeID' ng-click="ChangepaperDetail(qua.ExamTypeID)">
						<span>{{qua.ExamTypeName}}</span>
					</a>
				</ion-scroll>
			</div>
			
		</div>
	</ion-content>
</ion-view>